:root{
    --color-white:#FFF;
    --color-black:#000;
    --color-black-light:#404040;
    --color-grey:#CCC;
    --color-grey-light:#EEE;
    --color-grey-dark:#AAA;
    --color-accent:#00c76a;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-size: 15px !important;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    color: var(--color-black-light);
}

label{
    font-weight: 700;
}

select, option, button, input, a,span{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

a, button{
    display: block;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 700;
}

input,select,option{
    padding: 10px 15px;
    border: 2px solid var(--color-grey-dark);
    border-radius: 5px;
}

select,option, input[type="date"]{
    cursor: pointer;
}

a:hover,
button:hover{
    opacity: 0.5;
}

.bg-test{
    background-color: #00AA5B;
    color: red;
    border: 2px solid blue;
}

.m-10{
    margin: 10px;
}

.m-20-ud{
    margin: 20px 0;
}

.group-flex{
    display: flex;
    flex-direction: column;
}

.group-flex input{
    width: 200px;
    margin: 5px 0;
}

.navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
}

.navbar-wrapper{
    width: 1200px;
    display: flex;
    justify-content: center;
}

.navbar-button{
    margin: 15px;
}

.navbar-button.active{
    border-bottom: 2px solid var(--color-accent);
}

.container{
    min-height: 100vh;
    margin-top:50px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: var(--color-grey-light);
}

.wrapper{
    width: 1200px;
}

.inside{
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
}

.toggle-button{
    margin: 10px;
    padding: 15px;
    background: var(--color-grey-light);
    border-radius: 10px;
}

.crumb-info{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.customer-scroll{
    display: none;
    flex-direction: column;
    margin: 10px;
    height: 300px;
    background-color: var(--color-grey-light);
    border-radius: 10px;
    overflow-y:scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-grey-dark) transparent;
}

.customer-scroll.display{
    display: flex;
}

.icon-svg-1,.icon-svg-2{
    transition: 0.1s;
    margin-left: 5px;
}

.icon-svg-1.display,.icon-svg-2.display{
    transform: rotate(90deg) translateX(1px);
}

.customer-list{
    padding: 10px 15px;
    margin: 10px;
    display:flex;
    flex-direction:column;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background: var(--color-white);
    border-bottom: 2px solid var(--color-accent);
    transition: 0.2s;
}

.customer-list:hover{
    opacity: 0.5;
}

.barang-scroll{
    display: none;
    height: 100%;
    background-color: var(--color-grey-light);
    border: 1px solid var(--color-grey-light);
    border-radius: 10px;
    overflow-x: scroll;
    margin: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--color-grey-dark) transparent;
}

.barang-scroll.display{
    display: flex;
}

.barang-list{
    text-transform: capitalize;
    min-width: 280px;
    padding: 10px 15px;
    margin: 10px;
    display:flex;
    flex-direction:column;
    border-radius: 5px;
    background: var(--color-white);
    transition: 0.2s;
}

.input-group{
    margin: 5px;
}

.input-group.input{
    display: flex;
}

.input-group.input label,
.input-group.input select,
.input-group.input input{
    margin-right:5px ;
    padding:10px;
    width: 100px;
}

.add-button{
    margin: 10px;
    padding: 10px;
    background-color: var(--color-accent);
    color: var(--color-white);
    border-radius: 5px;
}

.result-wrapper{
    margin: 10px;
}

.barang-render{
    display: flex;
}

.responsive-table li {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    text-align: start !important;
    min-width: 1000px;
}

.table-header {
    border-radius: 5px 5px 0 0;
    background-color: var(--color-white);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-black-light);
    border-bottom:2px solid var(--color-grey-light);
    margin-bottom: 10px;
}

.table-row {
    background-color: var(--color-white);
    border-radius: 0 0 5px 5px;
}

.col-1 {
    width: 100px !important;
    padding: 0 5px;
}
.col-2 {
    width: 300px !important;
    padding: 0 5px;
}
.col-3 {
    width: 130px !important;
    padding: 0 5px;
}
.col-4 {
    width: 150px !important;
    padding: 0 5px;
}

.flex-center{
    display: grid;
    place-items: center;
}

.quantity{
    display: flex;
}

.button-quantity{
    padding: 10px;
    border-radius: 5px;
}

.cta{
    font-size: 16px;
    color: var(--color-accent);
    background-color: var(--color-white);
    border: 2px solid var(--color-accent);
    border-radius: 5px;
    padding: 10px;
}

.small-input{
    width: 40px;
}

.p-5{
    padding: 5px 0 !important;
}

.medium-input{
    width: 80px;
    padding: 5px 0 !important;
}

.diskon-persen-input{
    text-align: start;
    width: 80%;
}

.noborder{
    border: none;
    outline:none;
    user-select: none !important;
    pointer-events: none !important;
}

.center{
    text-align: center !important;
}

.overflowed{
    min-height: 300px;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-grey-dark) transparent;
}

.wrapper-last-item{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.wrapper-last-item input,
.wrapper-last-item label{
    padding: 10px 0 !important;
}

.wrapper-last-item input,
.wrapper-last-item select{
    width: 200px;
}

.wrapper-last{
    padding: 10px;
    margin: 10px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    gap: 10px;
    border-top: 2px solid var(--color-grey-light);
}

.grand-wrapper{
    background-color: var(--color-white);
    color: var(--color-black-light);
    width: fit-content;
    padding: 0 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--color-accent);
}

.error-msg{
    display: flex;
    flex-direction: column;
    color: crimson;
    font-weight: 700;
    gap: 10px;
}

.simpan-button{
    padding: 10px;
    background: var(--color-accent);
    color:var(--color-white);
    border: none;
    cursor: pointer;
    transition: 0.2s;
    width: 100% !important;
}

.simpan-button:hover{
    opacity: 0.5;
}

@media (max-width: 1300px) {
    .navbar-wrapper{
        width: 1000px;
    }

    .wrapper{
        width: 1000px;
    }   
}
@media (max-width: 1000px) {
    .navbar-wrapper{
        width: 700px;
        justify-content: center;
    }

    .wrapper{
        width: 700px;
    }   
}

@media (max-width: 800px) {
    .navbar-wrapper{
        width: 400px;
    }

    .wrapper{
        width: 400px;
    }   

    .wrapper-last{
        align-items: flex-start;
    }

    .wrapper-last-item{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .navbar-wrapper{
        width: 300px;
        
    }

    .wrapper{
        width: 300px;
    }   
}